
input[type="text"] {
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 5px;
  }

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
  margin: 10px;
}
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    touch-action: manipulation;
    height: 100vh;
    margin: 0;
  }
  
  input[type="number"], button {
    margin: 10px;
  }
  
  #input-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input,textarea{width: 40px;
    height: 20px;
    text-align: center;
    margin: 5px;}